.App {
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  textarea {
    min-height: 400px;
    font-size: 22px;
    width: 400px;
  }

  .name,
  .age,
  .count-child__title {
    display: flex;
    justify-content: space-between;

    * {
      width: 200px;
    }
  }
  .name,
  .age,
  .count-child {
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}
